<section class="section-hero-properties">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto text-center">
                <h1>Make your choice</h1>
                <div class="row">
                    <div class="col-md-4">
                        <a class="counter-stat">
                            <div class="overlay left"></div>
                            <div class="counter">
                                <h4>321</h4>
                                <p>apartments</p>
                                <hr class="v-line">
                                <hr class="h-line">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="counter-stat">
                            <div class="overlay center"></div>
                            <div class="counter">
                                <h4>50</h4>
                                <p>residences</p>
                                <hr class="v-line">
                                <hr class="h-line">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="counter-stat">
                            <div class="overlay right"></div>
                            <div class="counter">
                                <h4>853</h4>
                                <p>penthouses</p>
                                <hr class="v-line">
                                <hr class="h-line">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>