<div class="container">
    <div class="row">
        <div class="col-12">
            <nav>
                <ul class="pagination">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>   
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                    <li class="page-item disabled ms-auto"><span class="page-link">...</span></li>                     
                    <li class="page-item"><a class="page-link" href="#">87</a></li>   
                </ul>
            </nav>
    
            <div class="page-nav">
                <div class="item-count">
                    <p>450 Listings for sale</p>
                </div>
    
                <div class="page-prev">
    
                </div>
                <div class="page-next">
    
                </div>
            </div>        
        </div>
    </div>
</div>

