<section class="section-hero-real-estate">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto text-center">
                <p>Real Estate</p>
                <h1>Discover</h1>

                <div class="search-box">
                    <form id="search-form" class="search-form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Region  / Zip  /  Price....">
                            <span class="input-group-text"></span>
                        </div>                    
                    </form>  
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-news-list">
    <div class="container">
        <div class="section-title">
            <h1>Luxury News</h1>
        </div>

        <app-filter></app-filter>
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <ul class="tags">
                                    <li><a>WATER VIEW</a></li>                                        
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h2>Million Dollar luxury properties for investment in Senegal</h2>
                                <p>Discover premium million dollars properties with undeniable profitability.</p>
                                <a class="read-more">Read more</a>
                            </div>
                            <div class="col-md-5">
                                <img class="img-responsive" src="../../../assets/img/luxury-news/img-1.png">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <ul class="tags">
                                    <li><a>SEA VIEW</a></li>                                        
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h2>Prestigious investment in Senegal</h2>
                                <p>Incredible properties with sea views, connection to the nature, luxury design.</p>
                                <a class="read-more">Read more</a>
                            </div>
                            <div class="col-md-5">
                                <img class="img-responsive" src="../../../assets/img/luxury-news/img-2.png">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <ul class="tags">
                                    <li><a>SEA VIEW</a></li>     
                                    <li><a>MODERN</a></li>                                      
                                    <li><a>GYM</a></li>   
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h2>10 premium activities to do in Senegal</h2>
                                <p>Private tours, lake, lagoon and parks, safari, trek, surf and golf.</p>
                                <a class="read-more">Read more</a>
                            </div>
                            <div class="col-md-5">
                                <img class="img-responsive" src="../../../assets/img/luxury-news/img-3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>

<app-pagination></app-pagination>

<section class="section-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <div class="content">
                    <div class="section-title">
                        <h1>Weekly Luxury Newsletter</h1>
                    </div>
    
                    <p>Receive the beautifully curated selection of what’s trending in luxury with inside stories and tips from our experts</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-6">
                <form id="subscribe-form" class="subscribe-form">
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" type="email" placeholder="EMAIL">
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>By sharing your email, you agree to our terms of use and privacy.</p>
                        </div>                        
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</section>
