<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-6">
            <div class="content">
                <div class="section-title">
                    <h1>Weekly Luxury Newsletter</h1>
                </div>

                <p>Receive the beautifully curated selection of what’s trending in luxury with inside stories and tips from our experts</p>
            </div>
        </div>
        <div class="col-md-4 col-lg-6">
            <form id="subscribe-form" class="subscribe-form">
                <div class="row">
                    <div class="col-12">
                        <input class="form-control" type="email" placeholder="EMAIL">
                    </div>                        
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Subscribe</button>
                    </div>                        
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>By sharing your email, you agree to our terms of use and privacy.</p>
                    </div>                        
                </div>                    
            </form>
        </div>
    </div>
</div>