<div class="row filter">
    <div class="col-sm-6">
        <ul>
            <li>
                <a data-bs-toggle="offcanvas" data-bs-toggle="modal" data-bs-target="#filterModal">
                    <i class="filter"></i><span>Filters</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="notification"></i><span>Save Search</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <ul class="float-sm-end">
            <li><a><span>Recent</span><i class="drop-down"></i></a></li>
        </ul>
    </div>

    <div class="col-12 chips">
        <ul class="tags">
            <li><a>POOL </a></li>
            <li><a>GARAGE</a></li>
            <li><a>WATER VIEW</a></li>
            <li><a>GYM</a></li>

            <li><a>SEA VIEW</a></li>
            <li><a>PRIVACY</a></li>
            <li><a>BALCONY</a></li>
            <li><a>SCENIC VIEW</a></li>

            <li><a>MODERN</a></li>
            <li><a>PANORAMIC VIEW</a></li>
            <li><a>SECURITY</a></li>

            <li><a>SECURITY</a></li>
            <li><a>GYM</a></li>
        </ul>
    </div>
</div>

<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <a data-bs-dismiss="modal" aria-label="Close">Close</a>
            <h5 class="modal-title" id="filterModalLabel">Filters</h5>
            <a><i class="notification"></i></a>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row filter">
                    <div class="col-12 chips">
                        <ul class="tags">
                            <li><a>POOL </a></li>
                            <li><a>GARAGE</a></li>
                            <li><a>WATER VIEW</a></li>
                            <li><a>GYM</a></li>
                            <li><a>SEA VIEW</a></li>
                            <li><a>PRIVACY</a></li>
                            <li><a>SCENIC VIEW</a></li>        
                            <li><a>MODERN</a></li>
                            <li><a>PANORAMIC VIEW</a></li>
                            <li><a>SECURITY</a></li>        
                            <li><a>SECURITY</a></li>
                            <li><a>GYM</a></li>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>