<section class="section-hero-senegal">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 m-auto text-center">
        <h1>Senegal</h1>
        <p>A good country to live in</p>
      </div>
    </div>
  </div>
</section>

<section class="section-dark senegal-sec">

  <div class="container-in-dark p-0 col-12 good-quality-life">
    <div class="row image-text">
      <div class="col-12 p-0 d-flex">
        <div class="col-7 p-0 img-sec">
          <div class="section-title">
            <h1>A good quality of life</h1>
          </div>
          <img src="assets/img/quality-of-life.png">
        </div>
        <div class="col-5 txt-sec">
          <p>
            Senegal is a country with <span>pleasant living conditions</span>. The country’s sunny weather is refreshed by the 700 km of beaches which offer its residents and visitors a variety of leisure activities.
          </p>
          <p>
            Shopping centers with famous international brands, gourmet restaurants, foreign schools (French, American) are helping to create a range of high-end amenities suitable for expatriates.
          </p>
          <p>
            Entry and travel requirements are not complex for visitors as well as for residents. Sport, leisure and culture have a prominent place in Senegalese society.
          </p>
          <p>
            Sport fishing, diving, sailing, Kart-racing and golf are some of the popular activities. The <span>cultural life is rich and offers amateurs of high level local and international productions</span>. Beachfront lodgings, wild life reserves and thalassotherapy centers invite you to relax and get away from it all.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-in-dark p-0 col-12 modern-infra">
    <div class="row text-image">
      <div class="col-12 p-0 d-flex">
        <div class="col-5 txt-sec">
          <p>
            Senegal has made significant progress in improving its transport infrastructure. <span>Substantial investments</span> have enabled the expansion of national and cross-border networks to improve the mobility and security of people and goods, and to promote the creation of new economic centers across the country.
          </p>
          <p>
            In the road sector, major projects such as the Dakar-AIBD-SINDIA, Ila Touba motorways and the construction and rehabilitation of national roads <span>projects</span> will further improve access to major roads Dakar - Bamako, Dakar - Conakry and Dakar - Tangier.
          </p>
          <p>
            Major projects are ongoing to rehabilitate and modernize the rail system in Senegal: the Dakar - Bamako railway and the Dakar Regional Express Train (TER).
          </p>
          <p>
            Senegal has also put into service a very modern  airport, located about fifty kilometers from Dakar. Blaise Diagne International Airport (AIBD) offers the <span>very best in world-class airport standards</span>.
          </p>
        </div>
        <div class="col-7 p-0 img-sec">
          <div class="section-title">
            <h1>Modern and structuring infrastructures</h1>
          </div>
          <img src="assets/img/m&s-architecture.png">
        </div>
      </div>
    </div>
  </div>

  <div class="container-in-dark p-0 col-12 gastronomy">
    <div class="row image-text">
      <div class="col-12 p-0 d-flex">
        <div class="col-7 p-0 img-sec">
          <div class="section-title">
            <h1>The Senegalese gastronomy and conviviality</h1>
          </div>
          <img src="assets/img/gastronany.png">
          <div class="bottom-text d-flex justify-content-between mbl-hidden">
            <div class="left-text">
              <p>
                There are also many types of juices made from local products . Bissap flower juice, ginger juice, tamarind juice, guava juice and mango juice are the most known among Senegalese consumers. <span>Those drinks are appreciated for their flavors, their medicinal properties and their affordable prices.</span>
              </p>
              <p>
                <span>
                  Today, it is one of the most consumed coffees in Africa and even elsewhere as it can be found in most major cities around the world.
                </span>
              </p>
            </div>
            <div class="right-text">
              <p>
                There is also a type of coffee called “Café Touba”, which is  made from coffee flavored with Guinea pepper or black pepper (jar in Wolof).
                When it was created, Touba coffee was drunk by the Mourides during religious commemorations or Magals.
              </p>
            </div>
          </div>
        </div>
        <div class="col-5 txt-sec">
          <p>
            Each African country has its specialties depending on its location. The proximity to the Atlantic Ocean makes the fish the main ingredient of senegalese gastronomy.
            <span>It is thus cooked in different ways</span>: pan-fried, braised, smoked, dried, etc. This allows Senegalese cuisine to offer different kinds of gourmet dishes.
          </p>
          <p>
            <span>Senegalese cuisine is considered to be the richest and most inventive in West Africa</span>. This results from a rich history in cultural interbreeding (Arab and European influences from colonization by Portugal, France, etc).
          </p>
          <p>
            Diners gather around the single dish and everyone helps themselves - with their (right) hand or a spoon. It is therefore surprising to note that the large bowl of  dish is divided into as many parts as there are people around the meal. Many dishes have been created in Senegal, the main and national one is called Ceebu jen (Rice with fish). Just say “Thieb” and we'll understand you.
          </p>
          <p>
            You must absolutely taste ceebu jen which is made with rice, fish and various vegetables. <br />
            These following dishes are also favorites in Senegal: Mafé, domoda, thiebou kethiakh, Kaldou, Yassa, thiéré (with sauce of your choice), Soupou kandja, thiou, lakh, fataya, Acara...
          </p>
          <div class="bottom-text d-flex justify-content-between dsk-hidden">
            <div class="left-text">
              <p>
                There are also many types of juices made from local products . Bissap flower juice, ginger juice, tamarind juice, guava juice and mango juice are the most known among Senegalese consumers. <span>Those drinks are appreciated for their flavors, their medicinal properties and their affordable prices.</span>
              </p>
              <p>
                <span>
                  Today, it is one of the most consumed coffees in Africa and even elsewhere as it can be found in most major cities around the world.
                </span>
              </p>
            </div>
            <div class="right-text">
              <p>
                There is also a type of coffee called “Café Touba”, which is  made from coffee flavored with Guinea pepper or black pepper (jar in Wolof).
                When it was created, Touba coffee was drunk by the Mourides during religious commemorations or Magals.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-in-dark p-0 col-12 stable-open-country">
    <div class="row text-image">
      <div class="col-12 p-0 d-flex">
        <div class="col-5 txt-sec">
          <p>
            Democracy, multiparty system, solid institutions, recognition of political and social rights, freedom of expression: Senegal is an example in West Africa.
          </p>
          <p>
            Senegal's location at the western end of the African continent in its most advanced part in the Atlantic Ocean, gives it a hub position connecting Africa to the rest of the world.
          </p>
          <p>
            Praised as the easiest and fastest gateway to West Africa, it opens access to a common market of 300 million consumers.
          </p>
          <p>
            Senegal also serves as an important gateway to major export markets in Europe, Asia and the Americas. Economic indicators have been improving steadily for several years.
          </p>
        </div>
        <div class="col-7 p-0 img-sec">
          <div class="section-title">
            <h1>A stable and open country</h1>
          </div>
          <img src="assets/img/stable-country.png">
        </div>
      </div>
    </div>
  </div>

  <div class="container-in-dark p-0 col-12 good-quality-life">
    <div class="row image-text">
      <div class="col-12 p-0 d-flex">
        <div class="col-7 p-0 img-sec">
          <div class="section-title">
            <h1>Quality of human resources
            </h1>
          </div>
          <img src="assets/img/qhr.png">
        </div>
        <div class="col-5 txt-sec">
          <p>
            Senegal has a large pool of young, skilled labor. It is estimated that the majority of the population is between 15 and 55 years old, and therefore is active.
          </p>
          <p>
            Convinced that the quality of men and women constitutes the real wealth of a country, <span>Senegal dedicates more than half of its national budget to education and health</span>.
          </p>
          <p>
            The country has many public and private primary, secondary and higher education establishments.
          </p>
          <p>
            Prestigious universities and foreign schools offer high-level specialized training on site, or in partnership.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-in-dark p-0 col-12 investement d-flex align-items-center justify-content-center">
    <h3>
      Start a New investment <a href="#">now</a>.
    </h3>
    <button class="btn btn-outline-primary">Real Estate</button>
  </div>
</section>
